/* General Styles */
.ad-banner {
    background-color: #f0f0f0; 
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
}

.bottom-banner {
    margin-top: 20px;
    height: 200px;
}


/* Mobile Screen (Below 768px) */
@media (max-width: 768px) {
    .bottom-banner {
        height: 150px; /* Reduced height on mobile */
    }
    .content-container{
    margin-top: -140px !important;

    }
}

.content-container{
    margin-top: -80px;
}
