/* General Styles */
.ad-banner {
    /* background-color: #f0f0f0;  */
    padding: 10px;
    text-align: center;
    /* border: 1px solid #ccc; */
    margin-bottom: 20px; 
}

.bottom-banner {
    margin-top: 20px;
    height: 200px;
}

.center-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Ensures it takes full width of its container */
    margin: 0 auto; /* Centers it horizontally */
  }

/* Mobile Screen (Below 768px) */
@media (max-width: 768px) {
    .bottom-banner {
        height: 150px; /* Reduced height on mobile */
    }
    .content-container{
    margin-top: -190px !important;

    }
    .yt-video{
    margin-top: -5px !important;

    }
}

.content-container{
    margin-top: -155px;
}
.yt-video{
    margin-top: -5px !important;

    }
